@model IEnumerable<Besenica.Models.ViewModel.GameResultViewModel>


@{
    ViewBag.Title = "NewGame";
}
<div>
    @if (Request.IsAuthenticated)
    {
        <br/>
        <img id="imageBox" src="~/Content/Images/main1.png"/>       

        <div id="hold"></div>
        <p style="text-align: center" id="help"></p>
        <div id="buttons"></div>
        <h3 id="counterTime"></h3>

        <p id="mylives"></p>

        <button onclick="clickPlay(id)" id="playGame" class="dropbtn">Play</button>
        <br/>
        <br/>

        <h3>Select Categories</h3>
        <button onclick="clickAnimals(id)" id="animals" class="dropbtn">Animals</button>
        <button onclick="clickCountries(id)" id="countries" class="dropbtn">Countries</button>
        <button onclick="clickHelp(id)" id="help" class="dropbtn">Help</button>
        <button onclick="clickWholeWord(id)" id="wholeWord" class="dropbtn">Whole word</button>

        <p id="catagoryName"></p>
        @section scripts {
            <script>
                $(function() {
                    Game.Env.get('Game').getAllCountries();
                    Game.Env.get('Game').getAllAnimals();
                    Game.Env.get('Game').buttons();
                })
            </script>
        }
    }
    else
    {
        <br/>
        @Html.ActionLink("Registration", "Register", controllerName: "Account")
    }

    <br />
    <br />
    <h4>Result</h4>
    <div style="height:250px; overflow:auto;">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsAnswered)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Answer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Guesses)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Duration)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                var newDuration = item.Duration.ToString("mm:ss");
                if (item.IsAnswered)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            True
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Answer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Guesses)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => newDuration)
                        </td>
                    </tr>
                }
                else
                {
                    <tr style="background-color: lightcoral">
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            False
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Answer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Guesses)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => newDuration)
                        </td>
                    </tr>
                }
            }

        </table>
    </div>
</div>